n8n-workflows/workflow_3-cron_regua(D-3, D-1, D+1).json
{
  "name": "workflow_3-cron_regua(D-3, D-1, D+1)",
  "nodes": [
    {
      "parameters": {},
      "id": "22780448-fea1-483c-923c-a963bbc94847",
      "name": "Disparar D-3 (Manual)",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        208,
        -160
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "faseRegua",
              "value": "D-3"
            }
          ]
        },
        "options": {}
      },
      "id": "67a6aa78-8ddf-4c03-9cb1-fccdc8f31535",
      "name": "Set D-3",
      "type": "n8n-nodes-base.set",
      "position": [
        496,
        -128
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "faseRegua",
              "value": "D-1"
            }
          ]
        },
        "options": {}
      },
      "id": "3a480ce3-69a0-4688-84e5-5cbd40b9aaab",
      "name": "Set D-1",
      "type": "n8n-nodes-base.set",
      "position": [
        496,
        16
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "faseRegua",
              "value": "D+1"
            }
          ]
        },
        "options": {}
      },
      "id": "ec3c8426-eae6-4fda-b79e-342dc65cf705",
      "name": "Set D+1",
      "type": "n8n-nodes-base.set",
      "position": [
        496,
        160
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "=0 9 * * *"
            }
          ]
        }
      },
      "id": "a14a8a1d-6993-4c71-bcdf-6128d3a55903",
      "name": "Cron Diário 09:00 AM (D-3)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -64,
        -240
      ],
      "typeVersion": 1.1,
      "disabled": true
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        }
      },
      "id": "b17208ba-e642-4f37-974b-cb911513416e",
      "name": "Cron Diário 09:00 AM (D-1)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -64,
        -16
      ],
      "typeVersion": 1.1,
      "disabled": true
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        }
      },
      "id": "9f5c2b27-8ea2-4d86-a383-72e6b0a1dfc0",
      "name": "Cron Diário 09:00 AM (D+1)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -64,
        208
      ],
      "typeVersion": 1.1,
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://vigil-ai-agent.onrender.com/webhooks/campanha",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "eventId",
              "value": "11111111-1111-1111-1111-111111111111"
            },
            {
              "name": "faseRegua",
              "value": "={{ $json.faseRegua }}"
            },
            {
              "name": "leadId",
              "value": "4518cd05-bbd8-47c0-9238-86019540a372"
            }
          ]
        },
        "options": {}
      },
      "id": "48ea1715-c4cc-4341-b94c-45d7e83a9585",
      "name": "Chama NestJS Campanha1",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        848,
        16
      ],
      "typeVersion": 4.1
    },
    {
      "parameters": {
        "chatId": "={{ $('Chama NestJS Campanha1').item.json.resultados[0].telegramChatId }}",
        "text": "={{ $('Chama NestJS Campanha1').item.json.resultados[0].mensagem }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "462f15e1-33ed-4619-b2c5-db0b40343f75",
      "name": "Envia pro Celular1",
      "type": "n8n-nodes-base.telegram",
      "position": [
        1088,
        16
      ],
      "typeVersion": 1.1,
      "webhookId": "cab1ca46-f9f3-464b-82e1-a68c4b52b94c",
      "credentials": {
        "telegramApi": {
          "id": "WCCfpRw1V9uJ70DU",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Disparar D-3 (Manual)": {
      "main": [
        [
          {
            "node": "Set D-3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set D-3": {
      "main": [
        [
          {
            "node": "Chama NestJS Campanha1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set D-1": {
      "main": [
        [
          {
            "node": "Chama NestJS Campanha1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set D+1": {
      "main": [
        [
          {
            "node": "Chama NestJS Campanha1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chama NestJS Campanha1": {
      "main": [
        [
          {
            "node": "Envia pro Celular1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cron Diário 09:00 AM (D-1)": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "abf089e5-e209-4a50-8c35-5d75075b6588",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4a5517ee526ecc360f8730532d976a3c3e198c62bab11c604a8684d9e48ec71a"
  },
  "id": "iwNpTdZmn6ipWzwE",
  "tags": []
}