n8n-workflows/workflow_1-formulario_de_captacao.json
{
  "name": "Fluxo Captação Lead",
  "nodes": [
    {
      "parameters": {
        "path": "37e89384-2085-4e7f-9116-e9af614a6927",
        "formTitle": "Vigil Summit - Inscrição",
        "formDescription": "Garanta sua vaga exclusiva.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Nome Completo",
              "requiredField": true
            },
            {
              "fieldLabel": "Email Corporativo",
              "requiredField": true
            },
            {
              "fieldLabel": "Cargo (Ex: CISO, CTO)",
              "requiredField": true
            },
            {
              "fieldLabel": "Empresa",
              "requiredField": true
            }
          ]
        },
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "b80d42db-467c-4c5d-8e34-d4d342b633ce",
      "name": "Landing Page B2B",
      "type": "n8n-nodes-base.formTrigger",
      "position": [
        512,
        -160
      ],
      "typeVersion": 2,
      "webhookId": "37e89384-2085-4e7f-9116-e9af614a6927"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://vigil-ai-agent.onrender.com/webhooks/leads",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "nome",
              "value": "={{ $json['Nome Completo'] }}"
            },
            {
              "name": "email",
              "value": "={{ $json['Email Corporativo'] }}"
            },
            {
              "name": "cargo",
              "value": "={{ $json['Cargo (Ex: CISO, CTO)'] }}"
            },
            {
              "name": "empresa",
              "value": "={{ $json['Empresa'] }}"
            },
            {
              "name": "eventId",
              "value": "11111111-1111-1111-1111-111111111111"
            }
          ]
        },
        "options": {}
      },
      "id": "be20f55a-d86e-4706-9c06-860e6928b0bb",
      "name": "Salva Lead no Prisma",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        832,
        32
      ],
      "typeVersion": 4.1
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=🎉 Inscrição confirmada!\n\nClique no link abaixo para acessar seu contato VIP no Telegram:\n{{ $json.linkTelegram }}",
        "options": {}
      },
      "id": "3466da17-0914-4008-85cc-96ccf36752d9",
      "name": "Exibe Deep Link",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        1136,
        -160
      ],
      "typeVersion": 1.1
    }
  ],
  "pinData": {},
  "connections": {
    "Landing Page B2B": {
      "main": [
        [
          {
            "node": "Salva Lead no Prisma",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salva Lead no Prisma": {
      "main": [
        [
          {
            "node": "Exibe Deep Link",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "f545c3df-ea88-4364-ae42-4d1ac17fd63f",
  "meta": {
    "instanceId": "4a5517ee526ecc360f8730532d976a3c3e198c62bab11c604a8684d9e48ec71a"
  },
  "id": "Dm9etrMaAxBRVQdC",
  "tags": []
}